<div class="profile facebook">
  <h3>FB for <%= profile.candidate.name %></h3>
  <span class="profile_url"><%= profile.url + "/feed?callback=?" %></span>
  
  <div class="content">
    <%= image_tag "ajax-loader.gif"  %>
  </div>
</div>