<div class="profile rss">
  <h3>Rss frá <%= profile.candidate.name %></h3>
  
  <span class="profile_url">http://simplelogica.net/logicola/?feed=rss2</span>

  <div class="content">
    <%= image_tag "ajax-loader.gif"  %>
  </div>  
</div>