/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  background-color: #efefef;
  margin:auto auto;
  font-family: verdana; 
}



#coming_soon{
  margin: 50px 100px;
  background-color: #fff;
  padding:40px;
}

h1 { font-size: 1.4em;}
h2 { font-size: 1.1em; margin: 10px 0 3px 0; }

table{
  width:100%;
}
table td { padding: 3px; }
table th { text-align: left; padding: 3px; }

.dataTables_filter { margin-top: -40px;}

.profile_url{
  display: none;
}

.btn, .btn:visited
{
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.65);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.65);
  box-shadow: 0 1px 3px rgba(0,0,0,.65);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #efefef;
  border-bottom: 1px solid #333;
  color: #3f3f3f;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: auto;
  white-space: nowrap;
  overflow: visible;
}
.btn:hover
{
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.65);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.65);
  box-shadow: 0 1px 3px rgba(0,0,0,.65);
  border-bottom: 1px solid #000;
  color: #000;
}
.btn:hover.aye
{
  background-color:#DAFF0D;
}
.btn:hover.nay
{
  background-color:#FF6A70;
}
.btn:hover.maybe
{
  background-color:#FFBD17;
}
.btn:active
{
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.65);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.65);
  box-shadow: 0 1px 1px rgba(0,0,0,.65);
  outline: none;
  top: 1px;
}
span.btn
{
  cursor: default;
}
span.btn:active
{
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.65);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.65);
  box-shadow: 0 1px 3px rgba(0,0,0,.65);
  top: 0px;
}
.btn.active
{
  background-color:#0098FF;
}

.btn.aye.active
{
  background-color:#DAFF0D;
}
.btn.nay.active
{
  background-color:#FF6A70;
}
.btn.maybe.active
{
  background-color:#FFBD17;
}
span.idcode{
  padding: 10px;
  background-color:#dfdfdf;
  color: #5f5f5f;
}