<%= image_tag 'logo2011.png' %>

<h1>Stjórnlagaþing 2011</h1>
<p>Stjórnlagaþing á, samkvæmt lögum frá Alþingi nr. 90/2010, að koma saman í febrúar 2011 til að endurskoða stjórnarskrá lýðveldisins Íslands. Þingið á að standa í tvo til fjóra mánuði og verður skipað minnst 25 og mest 31 þjóðkjörnum fulltrúa. Þingfulltrúar verða kosnir persónukosningu og er landið eitt kjördæmi við kosninguna. Stjórnlagaþinginu er ætlað að undirbúa frumvarp að endurbættri stjórnarskrá og hafa til hliðsjónar við þá vinnu niðurstöður Þjóðfundar 2010. Framboðsfrestur til stjórnlagaþings rennur út klukkan 12.00 á hádegi þann 18. október n.k. og skal skila framboðum til landskjörstjórnar, hægt er að nálgast framboðsgögn á vef dómsmálaráðuneytisins. Kosið verður til stjórnlagaþingsins 27. nóvember 2010.</p>