
<table class="datatable">
  <thead> 
    <tr> 
      <th>Nafn</th> 
      <th>Aldur</th> 
      <%# <th>Vefsíður</th>  %>
    </tr> 
  </thead> 
  <tbody>  
  <% candidates.each do |candidate| %>
    <tr>
      <td><%= link_to  candidate.name, candidate %></td>
      <td><%= candidate.years %></td>
      <%# 
      <td>
        <% for profile in candidate.profiles >
          < image_tag "icons/#{profile.network}.png" > 
        <% end 
      </td>
       %>
    </tr>
  <% end %>
  </tbody>
</table>
