<% if logged_in? %>
  <% if is_aye(@candidate) %>
    <span class="btn aye active">Já</span>
  <% else %>
    <%= link_to "Já", vote_aye_candidate_path(@candidate), 
                        :method => :post, 
                        :class=>"btn aye", 
                        :id => "aye_this_candidate" %>
  <% end %>
  
  <% if is_maybe(@candidate) %>
    <span class="btn maybe active">Kannski</span>
  <% else %>
    <%= link_to "Kannski", vote_maybe_candidate_path(@candidate), 
                          :method => :post, 
                          :class=>"btn maybe",
                          :id => "maybe_this_candidate" %>
  <% end %>
  
  <% if is_nay(@candidate) %>
    <span class="btn nay active">Nei</span>
  <% else %>
    <%= link_to "Nei", vote_nay_candidate_path(@candidate), 
                        :method => :post, 
                        :class=>"btn nay",
                        :id => "nay_this_candidate" %>
  <% end %>
  
  <span id="voting_spinner" style="display:none">
    Kýs... <%= image_tag "ajax-loader.gif"  %>
  </span>  
<% else %>
  Skráðu þig inn til að setja frambjóðendur á þinn eigin forgangslista
<% end %>